
<h1><%= @dojo.branch %>'s <%= @student.first_name %> <%= @student.last_name %></h1>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>


<h3>Cohort</h3>
<table border=1 cellpadding=5>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @cohort.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Home', dojo_path(@dojo) %> | <%= link_to 'Edit', edit_dojo_student_path(:dojo_id => @dojo.id, :id => @student.id) %>
