<h1>Results#index</h1>
<p>Find me in app/views/results/index.html.erb</p>
<hr>

<div id="content-wrapper">
  <h1>Survey Form</h1>
  <div id="form-wrapper">
    <%= form_for @survey, url: {action:"create"} do |f| %>
      <%= label_tag(:name, "Your Name:") %>
      <%= f.text_field :name %>
      <br>
      <%= label_tag(:location, "Dojo Location:") %>
      <%= f.text_field :location %>
      <br>
      <%= label_tag(:language, "Favorite Language:") %>
      <%= f.text_field :language %>
      <br>
      <%= label_tag(:comment, "Comment (optional):") %>
      <br>
      <%= f.text_area :comment %>
      <br>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>
